/* =AMAZON IMGS
-----------------------------------------------------------------------------*/
#a0001 {background-image: url('//ecx.images-amazon.com/images/I/31XZA38BWGL._SL160_.jpg');}
#a0002 {background-image: url('//ecx.images-amazon.com/images/I/2180G1PEXML._SL160_.jpg');}
#a0003 {background-image: url('//ecx.images-amazon.com/images/I/51IjCOOvKpL._SL160_.jpg');}
#a0004 {background-image: url('//ecx.images-amazon.com/images/I/51AFB0BZG7L._SL160_.jpg');}
#a0005 {background-image: url('//ecx.images-amazon.com/images/I/21D0XSR0ANL._SL160_.jpg');}
#a0006 {background-image: url('//ecx.images-amazon.com/images/I/511AxHTb81L._SL160_.jpg');}
#a0007 {background-image: url('//ecx.images-amazon.com/images/I/51CB00VR2EL._SL160_.jpg');}
#a0008 {background-image: url('//ecx.images-amazon.com/images/I/51N75GKPQJL._SL160_.jpg');}
#a0009 {background-image: url('//ecx.images-amazon.com/images/I/319HAXV33EL._SL160_.jpg');}
#a0011 {background-image: url('//ecx.images-amazon.com/images/I/3185Cjq9i7L._SL160_.jpg');}
#a0012 {background-image: url('//ecx.images-amazon.com/images/I/51ZZauffo-L._SL160_.jpg');}
#a0013 {background-image: url('//ecx.images-amazon.com/images/I/511AxHTb81L._SL160_.jpg');}
#a0015 {background-image: url('//ecx.images-amazon.com/images/I/21XFYYNDFEL._SL160_.jpg');}
#a0016 {background-image: url('//ecx.images-amazon.com/images/I/51wkwBxk0BL._SL160_.jpg');}
#a0019 {background-image: url('//ecx.images-amazon.com/images/I/511Y6P617TL._SL160_.jpg');}
#a0021 {background-image: url('//ecx.images-amazon.com/images/I/511AxHTb81L._SL160_.jpg');}
#a0022 {background-image: url('//ecx.images-amazon.com/images/I/21YFNEZ4C1L._SL160_.jpg');}
#a0027 {background-image: url('//ecx.images-amazon.com/images/I/51-y2UEowoL._SL160_.jpg');}
#a0050 {background-image: url('//ecx.images-amazon.com/images/I/314Q5R5WMRL._SL160_.jpg');}
#a0053 {background-image: url('//ecx.images-amazon.com/images/I/51fAHgjIBjL._SL160_.jpg');}
#a0000 {background-image: url('');}