@import url('//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('//weloveiconfonts.com/api/?family=fontawesome');
@import url('//dev.yusukesakai.com/css/inyoes.amazon.css');

/* =ALL
-----------------------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: none;
}

body {
	background: #fff url('//litoma.github.com/img/bg_body.jpg') no-repeat top right;
	margin: 0;
	color: #333;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	font-style: italic;
}

body#post {
	background: none;
	padding: 3em 0;
}

a {
	text-decoration: none!important;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

i {
	font-weight: normal!important;
	font-style: normal!important;
}

.container {
	width: 500px!important;
}

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

#topcontrol {
	margin: auto 1.5em 1.5em auto;
	font-size: 30pt;
	color: #999;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#topcontrol:hover {
	color: #333;
}

body#post #topcontrol {
	display: none!important;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	margin: 150px 0 36em;
	text-align: center;
}

body#post header#header {
	display: none;
}

#nav {
	margin: 2em 0;
	font-size: large;
	text-align: center;
}

#nav a {
	margin: 0 1.5em;
}

/* =Main
-----------------------------------------------------------------------------*/
article {
	margin-bottom: 30em;
	text-align: center;
}

article a {
	margin: 0!important; /* fuck hatena!*/
}

body#post article {
	margin-bottom: 3em;
}

article p {
	margin: 3em auto 1.5em;
	float: right;
}

article p a {
	display: block;
	width: 75px;
	height: 75px;
	margin-right: 5px!important;
	border: 3px solid #ddd;
	background: #eee no-repeat 0 0;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
	opacity: 0.75;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

article p a[href^="https://twitter.com/"] {
	background: #0088cc url('//litoma.github.com/img/bg_twitter.png') no-repeat 0 0;
}

article p a:hover {
	border-color: #efefef;
	opacity: 1.00;
}

.meta {
	margin: 3em 0 1.5em;
}

.meta a, .meta a:hover {
	color: #333;
}

.author, .notecount, .hatenastar {
	text-align: right;
	margin-right: 95px;
	line-height: 27px
}

.nonotes:before {
	content: "no notes";
}

.hatenastar {
	direction: rtl;
}

.notes {
	clear: both;
	margin: 5em 0;
	padding: 1em 0;
	border-top: 1px dotted #c0c0c0;
	text-align: left;
	color: #c0c0c0;
	font-weight: normal;
	list-style-type: none;
}

.notes div {
	margin-bottom: .5em;
}

.autopagerize_page_info{
	margin: 1em 0 30em;
	font-size: large;
	text-align: center;
}

.autopagerize_page_separator{
	border-bottom: 1px dotted #c0c0c0;
	border-top: 0;
	margin: 0;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	margin-bottom: 5em;
	text-align: center;
	font-size: xx-large;
}

#footer a {
	margin: 0 1.5em;
}

.pager {
	margin: 0 auto 0 -50%!important;
	padding: 1em 0;
	font-size: 100%!important;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 1;
	border-top: 1px solid #ccc;
	background: #efefef;
	opacity: 0.75;
}

.pager a, .pager a:hover {
	margin: 0 .5em!important;
	background: #ddd;
	cursor: default;
}

.pager a.active, .pager a.active:hover {
	background: #fff!important;
	cursor: pointer!important;
}

/* =Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
body {
	background: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%!important;
}

#header {
	margin: 10em 0 20em;
}

article {
	margin-bottom: 20em;
}
}
