@import url('//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('//weloveiconfonts.com/api/?family=fontawesome');
@import url('//weloveiconfonts.com/api/?family=zocial');

/* =ALL
-----------------------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: none;
}

body {
/*	background: #fff url('//dev.yusukesakai.com/img/bg.gif') repeat-x 0 0; */
	margin: 0;
	color: #333;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	font-style: italic;
}

body#post {
	padding: 3em 0;
}

a {
	text-decoration: none!important;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

i {
	font-weight: normal!important;
	font-style: normal!important;
}

.container {
	width: 500px!important;
}

.centered {
	text-align: center!important;
}

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	margin: 15em 0 42em;
	text-align: center;
}

body#post header#header {
	display: none;
}

#nav {
	margin: 3em 0;
	font-size: large;
	text-align: center;
}

#nav a {
	margin: 0 1.5em;
}

/* =Main
-----------------------------------------------------------------------------*/
article {
	margin-bottom: 30em;
	text-align: center;
}

body#post article {
	margin-bottom: 3em;
}

article p {
	margin: 1.5em auto;
	position: relative;
	overflow: hidden;
	display: block;
	width: 100px;
	height: 100px;
	border: 3px solid #ddd;
	webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	behavior: url('http://litoma.github.com/js/PIE.htc');
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

article p:hover {
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

article p a,
article p a:hover {
	color: transparent!important;
}

article p a:before {
	content: "a";
	font-family: 'zocial';
	font-style: normal;
	font-weight: normal;
	font-size: 15pt;
	line-height: 40px;
	color: #fff;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30px;
	left: 30px;
	webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	behavior: url('http://litoma.github.com/js/PIE.htc');
}

article p a.twitter:before {
	content: "T"!important;
}

article p img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100px;
	min-height: 100px;
	border: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.meta {
	margin: 1.5em 0;
	text-align: center;
}

.meta a.source,
.meta a.notecount {
	width: 100%;
	display: block;
}

.meta a.source {
	color: #333;
	margin-bottom: 1em;
}

body#post a.notecount {
	display: none;
}

.notes {
	margin: 5em 0;
	padding: 1em 0;
	border-top: 1px dotted #c0c0c0;
	text-align: left;
	color: #c0c0c0;
	font-weight: normal;
	list-style-type: none;
}

.autopagerize_page_info{
	margin: 1em 0 30em;
	font-size: large;
	text-align: center;
}

.autopagerize_page_separator{
	border-bottom: 1px dotted #c0c0c0;
	border-top: 0;
	margin: 0;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	margin-bottom: 5em;
	text-align: center;
	font-size: xx-large;
}

#footer a {
	margin: 0 1.5em;
}

.pager {
	margin: 0 auto 0 -50%!important;
	padding: 1em 0;
	font-size: 100%!important;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 1;
	background: #fff;
	opacity: 0.75;
}

.pager a, .pager a:hover {
	margin: 0 .5em!important;
	background: #ddd;
	cursor: default;
}

.pager a.active, .pager a.active:hover {
	background: #fff!important;
	cursor: pointer!important;
}
