@import url('//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('//weloveiconfonts.com/api/?family=fontawesome');


/* =ALL
-----------------------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: none;
}

body {
/*	background: #fff url('//dev.yusukesakai.com/img/bg.gif') repeat-x 0 0; */
	margin: 0;
	color: #333;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	font-style: italic;
}

body#post {
	padding: 3em 0;
}

a:hover {
	text-decoration: none!important;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
}

i {
	font-weight: normal!important;
	font-style: normal!important;
}

.container {
	width: 500px!important;
}

.centered {
	text-align: center!important;
}

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	margin: 15em 0 42em;
	text-align: center;
}

body#post header#header {
	display: none;
}

#nav {
	margin: 3em 0;
	font-size: large;
	text-align: center;
}

#nav a {
	margin: 0 1.5em;
}

/* =Main
-----------------------------------------------------------------------------*/
article {
	margin-bottom: 30em;
	text-align: center;
}

body#post article {
	margin-bottom: 3em;
}

article p {
	margin: 1.5em auto;
	position: relative;
	overflow: hidden;
	display: block;
	width: 120px;
	height: 120px;
	border: 3px double #c0c0c0;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	behavior: url('//litoma.github.com/css/PIE.htc');
}

article p img {
	position: relative;
	min-width: 120px;
	min-height: 120px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	behavior: url('//litoma.github.com/css/PIE.htc');
}

.meta {
	margin: 1.5em 0;
	text-align: center;
}

.meta a.source,
.meta a.notecount {
	width: 100%;
	display: block;
}

.meta a.source {
	color: #333;
	margin-bottom: 1em;
}

body#post a.notecount {
	display: none;
}

.notes {
	margin: 5em 0;
	padding: 1em 0;
	border-top: 1px dotted #c0c0c0;
	text-align: left;
	color: #c0c0c0;
	font-weight: normal;
	list-style-type: none;
}

.autopagerize_page_info{
	margin: 1em 0 30em;
	font-size: large;
	text-align: center;
}

.autopagerize_page_separator{
	border-bottom: 1px dotted #c0c0c0;
	border-top: 0;
	margin: 0;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	margin-bottom: 5em;
	text-align: center;
	font-size: xx-large;
}

#footer a {
	margin: 0 1.5em;
}

.pager {
	margin: 0 auto 0 -50%!important;
	padding: 1em 0;
	font-size: 100%!important;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 50%;
	z-index: 1;
	background: #fff;
	opacity: 0.75;
}

.pager a, .pager a:hover {
	margin: 0 .5em!important;
	background: #ddd;
	cursor: default;
}

.pager a.active, .pager a.active:hover {
	background: #fff!important;
	cursor: pointer!important;
}

/* =Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%!important;
}

#header {
	margin: 10em 0 20em;
}

article {
	margin-bottom: 20em;
}
}
