/* =Mobile
-----------------------------------------------------------------------------*/
article p {
	webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
}

@media screen and (max-width: 499px) {
img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%!important;
}

#header {
	margin: 10em 0 20em;
}

article {
	margin-bottom: 20em;
}
}
