@import url('http://fonts.googleapis.com/css?family=Volkhov:700italic');

/* =ALL
-----------------------------------------------------------------------------*/
html {
	-webkit-text-size-adjust: 100%;
}

.container {
	width: 500px!important;
}

.centered {
	text-align: center!important;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	padding: 5em 0;
	text-align: center;
}

#header img#logo {
	height: 80px;
	width: 80px;
}

#header h1, #header p {
	margin: 0;
	font-size: 1.5em;
	font-family: 'Volkhov', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-transform: lowercase;
}

#header p {
	font-size: 1em;
}

/* =Main
-----------------------------------------------------------------------------*/
h2 {
	text-align: center;
	font-weight: lighter!important;
}

h2 a {
	color: #666!important;
	font-size: 0.66em;
	text-decoration: none!important;
}

article:before, article:after {
	content: "\002731\002731\002731";
	color: #999;
	letter-spacing: 0.5em;
	text-align: center;
	padding: 5em 0;
	display: block;
}

article p {
	padding: 0.5em 0;
}

.pager {
	margin: 2.5em 0;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	border-top: 1px solid #ccc;
	margin: 5em 0 8em;
	padding: 1em 0;
	text-align: right;
}

#footer #nav {
	float: left;
	text-align: left;

}

#footer div {
	padding: 10px 0;
}

/* =Mobile
-----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
body {
	background: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%!important;
}
}

